<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/edit.css') }}">
    <title>面接編集</title>
</head>
<body>
    <h1>面接編集</h1>
    <form method="POST" action="/interview/{{task.id}}/update">
        <div>
            <label for="title">タイトル:</label>
            <input type="text" id="title" name="title" value="{{ task.title }}" required>
        </div>
        <div>
            <label for="start_date">開始日:</label>
            <input type="datetime-local" id="start_date" name="start_date" value="{{ task.start_date.strftime('%Y-%m-%dT%H:%M') }}" required>
        </div>
        <div>
            <label for="end_date">終了日:</label>
            <input type="datetime-local" id="end_date" name="end_date" value="{{ task.end_date.strftime('%Y-%m-%dT%H:%M') }}" required>
        </div>
        <div>
            <label for="place">場所:</label>
            <input type="text" id="place" name="place" value="{{task.place}}">
        </div>
        <div>
            <label for="body">メモ:</label>
            <input type="text" id="body" name="body" value="{{task.body}}">
        </div>
        <div style="text-align: center;">
            <button type="submit">保存</button>
            <button type="button" onclick="history.back()">キャンセル</button>
        </div>
    </form>
</body>
</html>
