<!DOCTYPE html>
<html lang="ja">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>予定の詳細</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/popup.css') }}">
    <!--アイコン表示-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>


<body>

    <div class="entry-content">
        <h2>{{task.title}}</h2>
    </div>      

    <p>
        <span class="material-icons">schedule</span>
        <time>{{task.start_date}}~{{task.end_date}}</time>
    </p>



    <h4>メモ</h4>

    <div class="memo">
        {{task.body}}
    </div>  


    <!--<button onclick="location.href='edit.html'">編集</button> -->

    <!-- ボタンを押すと、/nextpageに飛ぶ -->
    <a href="/tasks/{{task.id}}/edit" method="get" class="edit">
        Edit
    </a>

    <!-- リンク (a) ぽいかボタン ぽいかで決める -->
    <a href="/" class="back">Back</a>
    
    

</body>
</html>
